{{!< default}}

<div class="hz-wrapper">
	<div class="hz-frame site-cover" style="background: red;">
		{{#if @site.cover_image}}
			<div class="site-cover__logo">
				<img src="{{@site.cover_image}}" alt="site logo">
			</div>
		{{/if}}
	</div>
	<div class="hz-frame" style="background: green;">Two</div>
	<div class="hz-frame" style="background: blue;">Three</div>
	<div class="hz-frame" style="background: yellow;">Four</div>
	<div class="hz-frame" style="background: violet;">Five</div>
	<div class="hz-frame" style="background: brown;">Six</div>
</div>



