.hz-wrapper {
	width: 300% !important;
	display: flex;
	flex-wrap: nowrap;
}

html, body, .hz-wrapper, .hz-frame {
	height: 100%;
}

.hz-frame {
	width: 100%;
	max-height: 100vh;
	background-color: #fff;
}

.arrow {
	width: 7.5rem;
	height: 7.5rem;
	border-right: 0.2rem solid;
	border-bottom: 0.2rem solid;
	position: relative;
	z-index: 10;
	transform: rotate(-45deg);
	margin-right: 5rem;
}

.scroll-to-more {
	position: absolute;
	z-index: 10;
	bottom: 3rem;
	left: 5rem;

	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 2rem;
	line-height: 120%;

	text-decoration: none;
}

.site-cover {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__logo {
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		filter: blur(3px) brightness(0.5);
		
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__text {
		position: relative;
		z-index: 10;
		margin-left: 5rem;
	}
	&__title {
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 7rem;
		line-height: 120%;

		text-transform: uppercase;
		letter-spacing: 2px;
		text-decoration: none;

		margin-bottom: 2rem;
	}
	&__description {
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 2.5rem;
		line-height: 120%;

		text-decoration: none;
	}
}

.hz-featured-post {
	display: flex;
	align-items: center;
	justify-content: space-between;


	&__img {
		width: 50%;
		height: 80%;
		margin: 0 5rem;
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__text {
		height: 80%;
		width: 40%;
		display: flex;
    	flex-direction: column;
	}
	&__title {
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 4rem;
		line-height: 120%;

		text-transform: uppercase;
		letter-spacing: 2px;
		text-decoration: none;

		margin-bottom: 5rem;
	}

	&__content {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
		word-break: break-all;

		font-family: sans-serif;
		font-size: 1.8rem;
	}

	&__tags-author-date {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
	}
	&__tags a {
		font-family: sans-serif;
		font-weight: 400;
		font-size: 1.6rem;

		text-transform: uppercase;	
		text-decoration: none;

		color: #000;
	}
	&__author a {
		font-family: sans-serif;
		font-weight: 400;
		font-size: 1.6rem;

		text-transform: uppercase;	
		text-decoration: none;

		color: #000;
	}
	&__date {
		font-family: sans-serif;
		font-weight: 400;
		font-size: 1.6rem;

		text-transform: uppercase;	
		text-decoration: none;

		color: #000;
	}

	&__buttons {
		display: flex;
		align-items: center;
		margin-top: auto;
	}
	&__button {
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 120%;

		text-transform: uppercase;
		letter-spacing: 2px;
		text-decoration: none;

		border: 1px solid #000;
		padding: 1.2rem 2rem;
		transition: all .3s;
		

		&:not(:last-child) {
			margin-right: 2rem;
		}

		&:hover {
			background-color: #000;
			color: #fff;
		}
	}
}

.hz-selected-post {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


