.post-card {

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 5rem 0;
	border-top: 1px solid #EBF2FE;

	&__text {
		max-width: 61rem;
		display: flex;
		flex-direction: column;
	}
	&__text-header {
		display: flex;
		align-items: flex-end;
	}
	&__tags a {
		font-family: sans-serif;
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 120%;

		color: rgb(109, 109, 109);
		text-decoration: none;
	}
	&__date {
		font-family: sans-serif;
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 120%;

		color: rgb(109, 109, 109);
		text-decoration: none;
	}
	&__title {
		margin: 2.5rem 0 1.2rem 0;
		
		& a {
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
			font-size: 3rem;
			line-height: 120%;

			color: #000;

			text-decoration: none;
		}
	}
	&__content {
		font-family: sans-serif;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 120%;

		color: rgb(109, 109, 109);

		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		word-break: break-all;

		& hr {
			display: none;
		}
	}
	&__image {
		width: 30rem;
		height: 20rem;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__read-post {
		margin-top: 1.5rem;

		& a {
			font-family: sans-serif;
			font-weight: 400;
			font-size: 1.8rem;
			line-height: 120%;
	
			color: var(--ghost-accent-color);
			text-decoration: underline;
		}
	}

}

