/*
0 - 600 : Phone
600 - 900 : Tablet portrait 
900 - 1200 : Tablet landscape
[1200 - 1800] : is where aor normal styles apply
1800 + : big screens 
$breakpoint argument choises
- phone 
- tab-port
- tab-land
- big-desktop
1em = 16px
ORDER: Base + typography > general layout + grid > page layout > components 
*/
html {
  font-size: 62.5% !important;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25% !important;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50% !important;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75% !important;
  }
}

body {
  background: #F2F4F7;
}

.margin-15 {
  margin: 0 1.5%;
}

.bull {
  margin: 0 1rem;
  padding-bottom: 4px;
}

.gh-portal-triggerbtn-iframe {
  display: none !important;
}

.footer {
  padding: 5rem 0;
  max-width: 1140px;
  border-top: 1px solid rgb(47, 47, 47);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.copy {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
  z-index: 100;
  background: #fff;
  width: 100%;
  box-shadow: 0 4px 70px rgba(30, 40, 52, 0.08);
}

.header__logo {
  max-height: 6rem;
}

.header__logo-img {
  max-height: 100%;
}

.header__nav {
  display: flex;
  align-items: center;
}
.header__nav a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: #232E52;
}
.header__nav li:not(:last-child) {
  margin-right: 5rem;
}
.header__nav ul {
  display: flex;
}

.hz-wrapper {
  width: 300% !important;
  display: flex;
  flex-wrap: nowrap;
}

html, body, .hz-wrapper, .hz-frame {
  height: 100%;
}

.hz-frame {
  width: 100%;
  max-height: 100vh;
  background-color: #fff;
}

.arrow {
  width: 7.5rem;
  height: 7.5rem;
  border-right: 0.2rem solid;
  border-bottom: 0.2rem solid;
  position: relative;
  z-index: 10;
  transform: rotate(-45deg);
  margin-right: 5rem;
}

.scroll-to-more {
  position: absolute;
  z-index: 10;
  bottom: 3rem;
  left: 5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  text-decoration: none;
}

.site-cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-cover__logo {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(3px) brightness(0.5);
}
.site-cover__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.site-cover__text {
  position: relative;
  z-index: 10;
  margin-left: 5rem;
}
.site-cover__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 7rem;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  margin-bottom: 2rem;
}
.site-cover__description {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 120%;
  text-decoration: none;
}

.hz-featured-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hz-featured-post__img {
  width: 50%;
  height: 80%;
  margin: 0 5rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.hz-featured-post__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hz-featured-post__text {
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.hz-featured-post__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  margin-bottom: 5rem;
}
.hz-featured-post__content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  word-break: break-all;
  font-family: sans-serif;
  font-size: 1.8rem;
}
.hz-featured-post__tags-author-date {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.hz-featured-post__tags a {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.hz-featured-post__author a {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.hz-featured-post__date {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.hz-featured-post__buttons {
  display: flex;
  align-items: center;
  margin-top: auto;
}
.hz-featured-post__button {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  border: 1px solid #000;
  padding: 1.2rem 2rem;
  transition: all 0.3s;
}
.hz-featured-post__button:not(:last-child) {
  margin-right: 2rem;
}
.hz-featured-post__button:hover {
  background-color: #000;
  color: #fff;
}

.hz-selected-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-posts {
  padding: 9rem 0;
  max-width: 970px;
  margin: 0 auto;
}
.recent-posts__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: flex-end;
}
.recent-posts__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: 2px;
  text-decoration: none;
}
.recent-posts__see-all {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  text-decoration: none;
}
.post-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem 0;
  border-top: 1px solid #EBF2FE;
}
.post-card__text {
  max-width: 61rem;
  display: flex;
  flex-direction: column;
}
.post-card__text-header {
  display: flex;
  align-items: flex-end;
}
.post-card__tags a {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 120%;
  color: rgb(109, 109, 109);
  text-decoration: none;
}
.post-card__date {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 120%;
  color: rgb(109, 109, 109);
  text-decoration: none;
}
.post-card__title {
  margin: 2.5rem 0 1.2rem 0;
}
.post-card__title a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: #000;
  text-decoration: none;
}
.post-card__content {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  color: rgb(109, 109, 109);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.post-card__content hr {
  display: none;
}
.post-card__image {
  width: 30rem;
  height: 20rem;
}
.post-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.post-card__read-post {
  margin-top: 1.5rem;
}
.post-card__read-post a {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 120%;
  color: var(--ghost-accent-color);
  text-decoration: underline;
}